<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jorgy Store!{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <!--fontawesome css-->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <!--bootstrap css-->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!--animate css-->
        <link rel="stylesheet" href="{{ asset('css/animate-wow.css') }}">
        <!--main css-->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/slick.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--responsive css-->
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    {% endblock %}
</head>
<body>
{{ include('/widgets/_header.html.twig') }}

<div class="main-content">
    {% block body %}{% endblock %}
</div>

<footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p><img width="90" src="images/logo.png" alt="#" style="margin-top: -5px;" /> All Rights Reserved. JorgyStore © 2022</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--custom js-->
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock %}
</body>
</html>
